div.cvv-tooltip.form-group__cvv-tooltip.is-hidden
    div.cvv-tooltip__col
        picture.cvv-tooltip__img
            source(type="image/webp" srcset="./images/visa-card.webp 1x")
            img(class="cvv-info-icon" src="./images/visa-card.svg" alt="Visa Card" title="Visa Card")
        h5.cvv-tooltip__title Visa, MasterCard
        span.cvv-tooltip__description 3-Digit Verification Number
    span.cvv-tooltip__divider
    div.cvv-tooltip__col
        picture.cvv-tooltip__img
            source(type="image/webp" srcset="./images/amex-card.webp 1x")
            img(class="cvv-info-icon" src="./images/amex-card.svg" alt="American Express Card" title="American Express Card")
        h5.cvv-tooltip__title American Express
        span.cvv-tooltip__description 4-Digit Verification Number
